mqtt_sensor/build
rpl-border-router/build
.vscode
tcp*
smartmed*
target
actuators/build
sensors/oxygen/build
sensors/cardio/build
sensors/troponin/build
actuators/mask/build
actuators/medicine/build
actuators/defibrillator/build